<div id="page">
	<div id="elementWrapper">
		<%= render "menu" %>
		<div id="galContent">
			<div id="contentwrapper">		
				<script type="text/javascript">
				$(function(){
					$("#gallery").slides({
						effect: 'fade',
						container: 'gallery_container',
						play: 5000,
						pause: 2500,
						hoverPause: true
					});
				});
				</script>
				<div id="gallerywrapper" style="display: none">
					<div id="frame">
						<div id="gallery">
							<div class="gallery_container">
								<% @images.each do |image|%>
								<div>
									<%= image_tag(image, :alt => "image", :style => "margin-top:"+(210 - (getHeight(image)/2)).to_s+"px") %>
								</div>
								<% end %>
							</div>
							<a href="#" class="prev"><%= image_tag("arrow-prev.png", :alt => "Arrow Prev", :width => "24", :height => "43") %></a>
							<a href="#" class="next"><%= image_tag("arrow-next.png", :alt => "Arrow Next", :width => "24", :height => "43") %></a>
						</div>
					</div>
				</div>
				<div id="gallerywrapper">
					<div id="galFrame">
						<table id="gallery_table">
							<tr>
							<% col = 0 %>
							<% rows = 1 %>
							<% @gallery.each do |folder|%>
								<td>
								<% galImg = nil %>
								<% galImgFolder = Dir[folder+"/*"].map %>
								<% galImgFolder.each do |file|%>
									<% if file.include?("forside_") %>
										<% galImg = file %>
									<% end %>
								<% end %>
								<%= image_tag(galImg.sub('app/assets/images/',''), :alt => "image") %>
								<br>
								<%= folder.sub('app/assets/images/gallery/','').to_s %>
								</td>
								<% if col == 1 %>
									<% col = 0 %>
									<% rows = rows + 1 %>
									</tr>
									<tr>
								<% else %>
									<% col = col + 1 %>
								<% end %>
							<% end %>
							<script> 
								$('#galFrame').css('height', '<%= rows.to_s %>' * 330 + "px");
								$('#galContent').css('height', ('<%= rows.to_s %>' * 330)+30 + "px");
							</script>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer"><%= render "footer" %></div>
</div>