<script>
 
$(document).ready(function() {  

 	function closeWindow(){
		$('#mask, .window').hide();
		$('.galleryIframe').attr('src', "");
		$('.galleryIframe').empty();
	}
	
	function setFocusThickboxIframe() {
	    var iframe = $(".galleryIframe")[0];
	    iframe.contentWindow.focus();
	}

    //select all the a tag with name equal to modal
    $('a[name=modal]').click(function(e) {
		
		var gallery_url = $(this).attr('id');
		$('.galleryIframe').attr('src', "<%= url_for 'gallery' %>" + "?path=" + gallery_url);
		
        //Cancel the link behavior
        e.preventDefault();
        //Get the A tag
        var id = $(this).attr('href');
     
        //Get the screen height and width
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();
     
        //Set height and width to mask to fill up the whole screen
        $('#mask').css({'width':maskWidth,'height':maskHeight});
         
        //transition effect     
        $('#mask').fadeTo("slow",0.9);
        $('#mask').fadeIn(1000);      
     
        //Get the window height and width
        var winH = $(window).height();
        var winW = $(window).width();
      
        //Set the popup window to center
        $(id).css('top',  winH/2-$('#frame').height()/2);
        $(id).css('left', winW/2-$('#frame').width()/2);
     
        //transition effect
        $(id).fadeIn(1000); 

		//focus on iframe for key-events to work
		setTimeout(setFocusThickboxIframe, 100);
     
    });
     
    //if close button is clicked
    $('.window .close').click(function (e) {
        //Cancel the link behavior
        e.preventDefault();
		closeWindow();
    });     
     
    //if mask is clicked
    $('#mask').click(function () {
        closeWindow();
    });
	
	$(document).keyup(function(e){
		switch(e.which){
			case 27:
	        	closeWindow();
	        	break;
		}
	});
     
});
</script>
<div id="boxes">
    <div id="dialog" class="window">
		<div style="float: right; padding: 5px; left: 755px; z-index: 10000; position: absolute;">
			<a href="#" class="close">Close</a>
		</div>
		<iframe id="frame" name="galleryPopupIframe" style="z-index: 9999" frameborder="0" scrolling="no" class="galleryIframe" wmode="Opaque" src="">
		</iframe>
    </div>
    <div id="mask"></div>
</div>
<div id="page">
	<%= render "menu" %>
	<div id="elementWrapper">
		<div id="galContent">
			<div id="contentwrapper">		
				<div id="gallerywrapper">
					<div id="galFrame">
						<table id="gallery_table">
							<tr>
							<% col = 0 %>
							<% rows = 1 %>
							<% @gallery.each do |folder|%>
								<td><a href="#dialog" name="modal" id="<%= folder %>" style="text-decoration: none">
								<% galImg = nil %>
								<% galImgFolder = Dir[folder+"/*"].map %>
								<% galImgFolder.each do |file|%>
									<% if file.include?("forside_") %>
										<% galImg = file %>		
									<% end %>
								<% end %>
								<%= image_tag(galImg.sub('app/assets/images/',''), :alt => "image") %>
								</a>
								<br>
								<a href="#dialog" id="<%= folder %>" name="modal">
								<%= folder.sub('app/assets/images/gallery/','').to_s.strip %>
								</a></td>
								<% if col == 1 %>
									<% col = 0 %>
									<% rows = rows + 1 %>
									</tr>
									<tr>
								<% else %>
									<% col = col + 1 %>
								<% end %>
							<% end %>
							<script> 
								$('#galFrame').css('height', '<%= rows.to_s %>' * 330 + "px");
								$('#galContent').css('height', ('<%= rows.to_s %>' * 330)+30 + "px");
							</script>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer"><%= render "footer" %></div>
</div>